@import './../../../colors.scss';

.location-info {
    padding: 120px 160px 64px;
    gap: 8px;

    >h2 {
        font-size: 80px;
        color: $red;
        text-align: center;
    }

    >div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    p {
        font-size: 24px;
    }

    img {
        width: 24px;
        height: 24px;
    }
}