<section>
    <h2 class="fontRalewayBold">OUR MENU</h2>

    <div class="menu">
        <div class="menu-item">
            <img src="./../../../assets/img/3_section_our_menu/Png/R1.png" alt="">
            <div class="dish-info">
                <h3 class="fontEconomicaBold">Tonkotsu Ramen</h3>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="menu-item">
            <div class="dish-info">
                <h3 class="fontEconomicaBold">Spicy Miso Ramen</h3>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>

            <img src="./../../../assets/img/3_section_our_menu/Png/R2.png" alt="">
        </div>
        <div class="menu-item">
            <img src="./../../../assets/img/3_section_our_menu/Png/R3.png" alt="">
            <div class="dish-info">
                <h3 class="fontEconomicaBold">Shio Ramen</h3>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>