/* You can add global styles to this file, and also import other style files */
@import './colors.scss';

/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/raleway-v34-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/raleway-v34-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* economica-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Economica Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/economica-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  font-family: 'Raleway Regular';
  box-sizing: border-box;
}

.fontRalewayBold {
    font-family: 'Raleway Bold';
}

.fontEconomicaBold {
    font-family: 'Economica Bold';
}
