<section>
    <h2 class="fontRalewayBold">HOW TO ORDER</h2>

    <div class="dishes-wrapper">
        <div class="dishes">
            <img src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="">
            <p class="fontEconomicaBold">Pick your <br>noodle</p>
        </div>
        <div class="dishes">
            <img src="./../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="">
            <p class="fontEconomicaBold">Pick your <br>broth</p>
        </div>
        <div class="dishes">
            <img src="./../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="">
            <p class="fontEconomicaBold">Add your <br>toppings</p>
        </div>
    </div>
</section>
